@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 100% 98%;
    --foreground: 222 84% 5%;
    --card: 228 100% 98%;
    --card-foreground: 222 84% 5%;
    --popover: 228 100% 98%;
    --popover-foreground: 222 84% 5%;
    /* Royal Blue */
    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 98%;
    /* Light Grey */
    --secondary: 228 60% 94%;
    --secondary-foreground: 222 84% 5%;
    /* Grey */
    --muted: 228 60% 94%;
    --muted-foreground: 222 24% 35%;
    /* Cherry Red */
    --accent: 0 84% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 84% 5%;
    --input: 228 40% 90%;
    --ring: 221 83% 53%;
    --radius: 1.25rem;
  }
  .dark {
    --background: 222 84% 5%;
    --foreground: 0 0% 98%;
    --card: 222 84% 5%;
    --card-foreground: 0 0% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 222 84% 5%;
    --secondary: 222 44% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 44% 15%;
    --muted-foreground: 0 0% 60%;
    --accent: 0 84% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 24% 25%;
    --input: 222 24% 25%;
    --ring: 0 84% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline font-bold uppercase;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.shadow-card {
    box-shadow: 10px 10px 0px hsl(var(--foreground));
}

.btn {
    @apply inline-flex items-center justify-center rounded-full font-headline uppercase text-xl px-8 py-4 border-2 transition-all duration-300 ease-in-out;
}

.btn-primary {
    @apply text-accent-foreground border-accent;
    background-image: linear-gradient(to bottom, hsl(var(--accent)), #991b1b);
}

.btn-primary:not(.no-hover):hover {
    background-image: none;
    @apply bg-transparent text-accent;
}

.btn-secondary {
    @apply bg-background text-foreground border-foreground hover:bg-foreground hover:text-background;
}
